body {
    background-color: grey;
}
/* .form {
   display: flex;
   flex-direction: column;
   background-color:#FFFFFF;
   border: 5px solid #FFFFFF;
   border-radius: 2.2rem;
  margin: 0 auto;
   width: 40.5rem;
   height: 80%;
} */