.wrapper {
font-family: poppsins;
}
.mata {
font-weight: bold;
font-size: 1.8rem;
margin-bottom: 2rem;
margin-left: 20%;
}
.politics {
font-size: 4rem;
margin-top: 5rem;
}
.leftside p {
margin-left: 20%;
font-size: 1.2rem;
}

