<div class="wrapper">
  <div class="container">
    <h1 class="politics">Politics</h1>
    <hr>
    <div class="row">
      <div class="col-sm-8">
        <img src= "./assets/Politicsimg/Rectangle 3.svg" alt="">
      </div>
      <div class="col-sm-4 leftside">
        <h3 class="mata">Matawalle commends Umahi for dumping <br> PDP</h3>
        <p>Gov. Bello Matawalle of Zamfara has commended his Ebonyi counterpart, Gov. Dave Umahi, for defecting from the Peoples Democratic Party (PDP) to the All Progressives Congress (APC). <br>
        1 day ago	 Politics</p>
      </div>
    </div>
  </div>
</div>


