@import "~bootstrap/dist/css/bootstrap.css";


.logoside {
    display: flex;
    background-color: #111111;
    align-content: center;
    justify-content: center;
}

.blogName {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3rem;
    margin: .2rem 0 0 .2rem;
}

.coloredNav {
    background-color: #FAA4A5;
    color: #FFFFFF;
}

.navContent {
    display: flex;
    align-content: center;
    justify-content: center;
}

.headerNav {
    list-style-type: none;
    display: flex;
    font-size: .9rem;
    font-weight: 700;
    align-content: center;
    justify-content: center;
    padding: 1rem 1rem 0 1rem;
}

.toggle {
    display: none;
}

.navComp {
    padding: 0 1rem 0 1rem;
}

.border {
    border: 1px solid #FFFFFF;
    border-radius: .6rem;
    margin-right: .5rem;
}





/* footer */

 .footerPath {
    background-color: #111111;
}

.footerHeads {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 1rem;
}

.footerHeads p {
    border-bottom: 3px solid #fff;
    padding-bottom: 1rem;
    width: 25%;
}
 .footerNav {
    display: flex;
} 

.footerNavLinks {
    margin-left: 4.5rem;
}

.footerNavLink {
    margin-left: 2rem;
}

p {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
}

.footerIcon {
    margin-left: 15.5rem;
}

.socialIcon {
    margin-left: 1rem; 
}

.footerForm {
    border: 1px solid #ffffff;
    padding: 2.5rem 2rem;
    color: #ffffff;
    margin-left: 19rem;
}

h6 {
    padding: 2rem 1rem;
    text-align: center;
    font-weight: 400;
}

input {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: .6rem;
    background-color: #111111;
    font-size: 14px;
    color: #ffffff;
}

.logoSide {
    display: flex;
    justify-content: center;
}

.blogName {
    font-size: 3rem;
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    margin: .2rem 0 0 .2rem;
}

.footerBtn {
    margin-top: 2rem;
    text-align: center;
    background: #FAA4A5;
    padding: .4rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: normal;
}

.footerLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 .5rem 1rem 4.5rem;
}

.footerLine {
    border-bottom: 5px solid #ffffff;

}

.footerCopyRight {
    margin: 1rem 0 1rem 0;
    text-align: center;
    color: #ffffff;
    font-size: .9rem;
    font-weight: 400;
} 

 /* @media only screen and (min-width: 1200px) {
    .navTextLink {
        margin-left: 4.5rem;
    }
    .navTextLink {
        margin-left: 4.5rem;
    }
    .footerIcon {
        margin-left: 13.5rem; 
    }

    .footerForm {
        margin-left: 15rem;
    }
} */
