<!-- NavBar -->
<nav class="navbar-dark bg-dark headerNav">
    <a href="#" class="logoSide">
      <img src="./assets/img/logo.svg" alt="" class="logoImage">
      <p class="blogName">24/7 NEWS</p>
    </a> 
  </nav>
  
      <nav class="navbar navbar-expand-lg color">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item navText">
              <a class="nav-link active navComp" aria-current="page"  routerLink="/''">Home</a>
            </li>
            <li class="nav-item navText">
              <a class="nav-link active navComp"  routerLink="/News">News</a>
            </li>
            <li class="nav-item navText">
              <a class="nav-link active navComp"  routerLink="/Politics">Politics</a>
            </li>
            <li class="nav-item navText">
              <a class="nav-link active navComp" routerLink="/Business">Business</a>
            </li>
            <li class="nav-item navText">
              <a class="nav-link active navComp"  routerLink="/Sports">Sports</a>
            </li>
            <li class="nav-item navText">
              <a class="nav-link active navComp"  routerLink="/Entertainment">Entertainment</a>
            </li>
            <li class="nav-item navText">
              <a class="nav-link active navComp"  routerLink="/Health">Health</a>
            </li>
  
  
            <li class="nav-item navText dropdown">
              <a class="nav-link active navComp dropdown-toggle navBtn" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">Account</a>
                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" type="button"
                    href="#">SignIn</a></li>
                  <li><a class="dropdown-item" type="button" href="#">SignIn</a></li>
                </ul>
            </li>
            <li>
            <a href = "#" class="nav-link active navComp navBtn2 navText">SignUp</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>

<router-outlet></router-outlet>

      <!-- footer -->

<footer class="footerPath">
    <div class="footerHeads">
      <p>About Us</p>
      <p>Social Media</p>
      <p>Reach Us</p>
    </div>
    <div class="footerNav">
      <div class="footerNavLinks">
        <p><a href="home">Home</a></p>
        <p><a href="news">News</a></p>
        <p><a href="politics">Politics</a></p>
        <p><a href="business">Business</a></p>
        <p><a href="sports">Sports</a></p>
      </div>
      <div class="footerNavLink">
        <p><a href="entertainment">Entertainment</a></p>
        <p><a href="health">Health</a></p>
      </div>
      <div class="footerIcon">
        <img src="./assets/img/icons/youtube.svg" alt="youtubeIcon">
        <img src="./assets/img/icons/facebook.svg" alt="facebookIcon">
        <img src="./assets/img/icons/twitter.svg" alt="twitterIcon">
        <img src="./assets/img/icons/instagram.svg" alt="instagramIcon">
      </div>
      
        <form action="" class="footerForm">
         <h6>Subscribe To Our <br> Newsletter</h6>
         <input type="text" placeholder="Choose Category">
         <div class="footerBtn"><a href="#" class="footerBtn">SUBSCRIBE</a></div>
        </form>
    </div>
    <div class="footerLogo">
      <a href="#" class="logoSide">
        <img src="./assets/img/logo.svg" alt="" class="logoImage">
        <p class="blogName">24/7 NEWS</p>
      </a> 
      <a href="#"><img class="footerScrollIcon" src="./assets/img/icons/Vector.svg" alt="scrollIcon"></a>
    </div>

    <div class="footerLine"></div>
    
    <p class="footerCopyRight">&#169;2020 Guardian NewsPaper. All RIghts Reserved</p>
</footer>

   
  