<!-- NavBar -->

<header>
  <a href="" class="logoside">
    <img src="./assets/img/logo.svg" alt="" class="logoImage">
    <p class="blogName">24/7 NEWS</p>
  </a>
  
  <nav class="navbar navbar-expand-lg coloredNav">

      <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>

      <!-- Step 2: Add the ngbCollapse directive to the element below. -->
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-center">
        <ul class="navbar-nav headerNav">
          <li class="nav-item">
            <a class="nav-link navComp" [routerLink]="'.'" (click)="isMenuCollapsed = true">Home</a>
          </li>
          <li class="nav-item active"> 
            <!-- Step 4: Close the menu when a link is clicked. -->
            <a class="nav-link navComp" [routerLink]="'/News'" (click)="isMenuCollapsed = true">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navComp" [routerLink]="'/Politics'" (click)="isMenuCollapsed = true">Politics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navComp" [routerLink]="'/Sports'" (click)="isMenuCollapsed = true">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navComp" [routerLink]="'/Entertainment'" (click)="isMenuCollapsed = true">Entertainment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navComp" [routerLink]="'/Health'" (click)="isMenuCollapsed = true">Health</a>
          </li>
          <li ngbDropdown class="nav-item d-inline-block">
            <a class="nav-link border navComp"  id="dropdownBasic1" [routerLink]="'.'" (click)="isMenuCollapsed = true" ngbDropdownToggle>Account</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem [routerLink]="'/News'" (click)="isMenuCollapsed = true">Login</button>
                <button ngbDropdownItem [routerLink]="'/News'">Logout</button>
              </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link border navComp " [routerLink]="'.'" (click)="isMenuCollapsed = true">Sign Up</a>
          </li>
        </ul>
      </div>
  </nav>
</header>



    <router-outlet></router-outlet>

      <!-- footer -->

  <footer class="footerPath">

    <div class="footerHeads">
      <p>About Us</p>
      <p>Social Media</p>
      <p>Reach Us</p>
    </div>

    <div class="footerNav">
      <div class="footerNavLinks">
        <p routerLink="/''">Home</p>
        <p routerLink="/News">News</p>
        <p routerLink="/Politics">Politics</p>
        <p routerLink="/Business">Business</p>
        <p routerLink="/Sports">Sports</p>
      </div>
      <div class="footerNavLink">
        <p routerLink="/Entertainment">Entertainment</p>
        <p routerLink="/Health">Health</p>
      </div>
      <div class="footerIcon">
        <img src="./assets/img/icons/youtube.svg" alt="youtubeIcon" class="socialIcon">
        <img src="./assets/img/icons/facebook.svg" alt="facebookIcon" class="socialIcon">
        <img src="./assets/img/icons/twitter.svg" alt="twitterIcon" class="socialIcon">
        <img src="./assets/img/icons/instagram.svg" alt="instagramIcon" class="socialIcon">
      </div>
      
        <form action="" class="footerForm">
         <h6>Subscribe To Our <br> Newsletter</h6>
         <input type="text" placeholder="Choose Category">
         <div class="footerBtn"><a href="#" class="footerBtn">SUBSCRIBE</a></div>
        </form>
    </div>
    <div class="footerLogo">
      <a routerLink="/''"class="logoSide">
        <img src="./assets/img/logo.svg" alt="" class="logoImage">
        <p class="blogName">24/7 NEWS</p>
      </a> 
      <a href="#"><img class="footerScrollIcon" src="./assets/img/icons/Vector.svg" alt="scrollIcon"></a>
    </div>

    <div class="footerLine"></div>
    
    <p class="footerCopyRight">&#169;2020 Guardian NewsPaper. All RIghts Reserved</p>

  </footer>

   
  