<!-- <div class="container"> -->

  <div class="row justify-content-around" (click)="goToNews()">
      <div class="col col-md-8">
        <img src="./assets/images/news/Rectangle 3.png" alt="">
      </div>
      <div class="col col-md-4">
        <h1 class="text-dark">PM Abiy meets AU envoys for talks on Ethiopia conflict</h1>
      </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="row col-md-8 bg-light g-2 g-md-3" style="width: 57rem;">
      <div class="col-md-6 mb-5 g-2 g-md-3">
        <div class="card rounded-0" style="width: 16rem;">
          <a class="text-dark" href="">
            <img class="card-img-top rounded-0" src="./assets/images/news/Rectangle 75.png" alt="Card image cap">
            <div class="card-body bg-white" style="height: 8rem;">
              <p class="card-text">LASG raises alarm over serial manhole vandalisms</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 mb-5">
        <div class="card rounded-0" style="width: 16rem;">
          <a class="text-dark" href="">
            <img class="card-img-top rounded-0" src="./assets/images/news/Rectangle 75(1).png" alt="Card image cap">
            <div class="card-body bg-white" style="height: 8rem;">
              <p class="card-text">3 in police net for allegedly stealing 3-day-old child in Kaduna</p>
            </div>
          </a>
        </div>
      </div>

        <div class="col-md-6 mb-5">
          <div class="card rounded-0" style="width: 16rem;">
            <a class="text-dark" href="">
              <img class="card-img-top rounded-0" src="./assets/images/news/Rectangle 75(2).png" alt="Card image cap">
              <div class="card-body bg-white" style="height: 8rem;">
                <p class="card-text">Erdogan’s son-in-law leaves sovereign wealth fund</p>
              </div>
            </a>
          </div>
        </div>

      <div class="col-md-6 mb-5">
        <div class="card rounded-0" style="width: 16rem;">
          <a class="text-dark" href="">
            <img class="card-img-top rounded-0" src="./assets/images/news/Rectangle 75(3).png" alt="Card image cap">
            <div class="card-body bg-white" style="height: 8rem;">
              <p class="card-text">Nigeria’s COVID- 19 death hits 1171, with 246 new cases - NCDC</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 mb-5">
        <div class="card rounded-0" style="width: 16rem;">
          <a class="text-dark" href="">
            <img class="card-img-top rounded-0" src="./assets/images/news/Rectangle 75(4).png" alt="Card image cap">
            <div class="card-body bg-white" style="height: 8rem;">
              <p class="card-text">Military air strikes knock out more terrorists’ hideout in Borno</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 mb-5">
        <div class="card rounded-0" style="width: 16rem;">
          <a class="text-dark" href="">
            <img class="card-img-top rounded-0" src="./assets/images/news/Rectangle 75(5).png" alt="Card image cap">
            <div class="card-body bg-white" style="height: 8rem;">
              <p class="card-text">Buhari to roll out autogas scheme Dec. 1 - NGEP Chairman</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4 m-auto">
      <div class="card rounded-0" style="width: 20rem;">
        <h2 class="text-center p-2">Latest News</h2>
        <a class="text-dark" href="">
          <img class="card-img-top rounded-0 mx-auto d-block" style="width: 16rem;" src="./assets/images/news/Rectangle 60.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text mb-5">PM Abiy meets AU envoys for talks on Ethiopia conflict</p>
          </div>
        </a>

        <a class="text-dark" href="">
          <img class="card-img-top rounded-0 mx-auto d-block" style="width: 16rem;" src="./assets/images/news/Rectangle 61.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text mb-5">Matawalle commends Umahi for dumping PDP</p>
          </div>
        </a>

        <a class="text-dark" href="">
          <img class="card-img-top rounded-0 mx-auto d-block" style="width: 16rem;" src="./assets/images/news/Rectangle 55.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text mb-5">Lewandowski hits 15th goal of season as Bayern stay top</p>
          </div>
        </a>

        <a class="text-dark" href="">
          <img class="card-img-top rounded-0 mx-auto d-block" style="width: 16rem;" src="./assets/images/news/Rectangle 58.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text mb-5">The Beauty of Wizki’s “Made in Lagos” And What He Missed</p>
          </div>
        </a>

        <a class="text-dark" href="">
          <img class="card-img-top rounded-0 mx-auto d-block" style="width: 16rem;" src="./assets/images/news/Rectangle 59.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text mb-5">FCMB emerges “Best SME Bank in Africa”</p>
          </div>
        </a>

        <a class="text-dark" href="">
          <img class="card-img-top rounded-0 mx-auto d-block" style="width: 16rem;" src="./assets/images/news/Rectangle 68.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text mb-5">18.3% of COVID-19 deaths in Africa connected to diabetes — WHO</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- <div class="wrapper">
  <div class="ml-5 mr-5">
    <h1 class="mb-3">News</h1> 
    <hr class="w-50 m-0 mb-3">
    <div class="row">
      <div class="col-sm-6 mb-5">
        <img class="card-img" src="./assets/img/news/pm-abiy.png" alt="PM_Abiy"/>
      </div>
    <div class="col-sm-6">
      <div class="card-body-right">
        <h3 class="card-text ml-5">{{posts.data.posts[0].title}}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 parent">
        <div class="card-group">

          <div class="row row-cols-1 row-cols-md-2" id="otherNews">
            <div class="col mb-5" *ngFor="let post of posts.data.posts; index as i">
              <div class="card newsPoss m-0 p-0">
                <img src="./assets/img/news/lasg-news.png" class="card-img-top" alt="manhole_vandalism" id="newsImg">
                <div class="card-body newsText">
                  <p routerLink="news/{{post.title}}" class="card-title">{{post.title}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            
      <div class="col-sm-4">
        <div class="card card-body-right lnDiv p-3 rounded-0">
          <h2 class="m-auto lNews">Latest News</h2>
          <div class="latestNews newsPosts m-auto" *ngFor="let post of posts.data.posts; index as i">
            <img src="./assets/img/news/pm-abiy.png" alt="PM_Abiy" class="card-img-top">
            <h5 routerLink="" class="card-text mb-5">{{post.title}}</h5>
          </div>
        </div>
      </div> -->
<!-- </div> -->